html {
  @include scrollbars($gray-200, $gray-400, $gray-500);
}

body {
  padding-top: $size-base * 14;

  @include widescreen {
    padding-left: $size-base * 60;
  }
}

#app {
  @include transitionPosition;
  width: 100vw;

  @include desktop {
    width: auto;
  }

  &.is-aside-mobile-active {
    margin-left: $size-base * 60;

    @include desktop {
      margin-left: 0;
    }
  }
}

.m-clipped, .m-clipped body {
  overflow: hidden;

  @include desktop {
    overflow: visible;
  }
}

.full-screen body {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  background-color: transparent;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

a.is-inherit {
  color: inherit;
}
