.jb-aside {
  @include scrollbars($gray-900, $gray-600);
  @include transitionPosition;
  width: $size-base * 60;
  height: 100vh;
  position: fixed;
  top: 0;
  left: $size-base * 60 * -1;
  z-index: 40;
  background: $gray-800;
  overflow: auto;

  &.is-aside-mobile-expanded {
    left: 0;
  }

  @include desktop {
    display: none;
    left: 0;

    &.is-aside-desktop-active {
      display: block;
    }
  }

  @include widescreen {
    display: block;
  }
}

.jb-aside-header {
  display: flex;
  width: 100%;
  background: $gray-900;
  color: $white;
  flex: 1 1 0;
  height: $size-base * 14;
  align-items: center;
}

.jb-aside-label {
  flex: 1 1 0;
  padding-left: $size-base * 3;
  padding-right: $size-base * 3;

  b {
    font-weight: 900;
  }
}

.jb-aside-menu-group-label {
  @include textXs;
  padding: $size-base * 3;
  text-transform: uppercase;
  color: $gray-400;
}

.jb-aside-menu-item {
  display: flex;

  &.is-ancestor-list {
    padding-top: $size-base * 2;
    padding-bottom: $size-base * 2;
  }

  &.is-submenu-list {
    @include textSm;
    padding: $size-base * 3;
  }

  &:hover {
    background: $gray-600;
  }

  .jb-aside-menu-item-label {
    flex-grow: 1;
  }

  .is-active {
    font-weight: bold;
    color: $white;
  }

  .is-inactive {
    color: $gray-300;
  }
}

.jb-submenu-container-hidden {
  display: none;
}

.jb-submenu-container-visible {
  display: block;
  background: $gray-700;
}
