@include dark {
  .jb-aside {
    @include scrollbars($gray-800, $gray-900);
    background: $gray-900;
  }

  .jb-aside-menu-item {
    &:hover {
      background: $gray-700;
    }
  }

  .jb-submenu-container-visible {
    background: $gray-800;
  }
}
