.jb-bottom-section-text {
  @include text2xl;
  color: $gray-500;
  margin-bottom: $size-base * 12;

  &:last-child {
    margin-bottom: 0;
  }

  &.is-github-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;

      .is-github-line-prefix-label {
        margin-right: $size-base * 3;
      }
    }

    .is-github-line-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .jb-icon {
        margin-right: $size-base;
      }
    }
  }
}
