@include dark {
  .jb-card {
    background: $gray-900;
    border-color: $gray-900;
  }

  .jb-card-header {
    border-color: $gray-700;
  }

  .jb-card-client-bar-content, .jb-card-transaction-content {
    p, h4 span {
      color: $gray-400;
    }
  }

  .jb-card-widget-label, .jb-card-content-center-wrap, .jb-card-empty {
    color: $gray-400;
  }
}
