.jb-check-radio-switch-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: $size-base * -3;
  flex-direction: row;

  &.is-grouped-column {
    flex-direction: column;
  }

  .jb-label-wrap {
    margin-right: $size-base * 6;
    margin-bottom: $size-base * 3;

    &:last-child {
      margin-right: 0;
    }
  }
}
