.jb-bg-white {
  background: $white;
  color: $black;
}

.jb-bg-light {
  background: $gray-100;
  color: $black;
}

.jb-bg-green {
  background: $green-500;
  color: $white;
}

.jb-bg-red {
  background: $red-500;
  color: $white;
}

.jb-bg-yellow {
  background: $yellow-500;
  color: $white;
}

.jb-bg-blue {
  background: $blue-500;
  color: $white;
}

.jb-borders-white {
  border-color: $gray-300;
}

.jb-borders-light {
  border-color: $gray-200;
}

.jb-borders-green {
  border-color: $green-600;
}

.jb-borders-red {
  border-color: $red-600;
}

.jb-borders-yellow {
  border-color: $yellow-600;
}

.jb-borders-blue {
  border-color: $blue-600;
}

.jb-text-white {
  color: $black;
}

.jb-text-light {
  color: $gray-700;
}

.jb-text-green {
  color: $green-500;
}

.jb-text-red {
  color: $red-500;
}

.jb-text-yellow {
  color: $yellow-500;
}

.jb-text-blue {
  color: $blue-500;
}

.jb-hover-white:hover {
  background: $gray-50;
  color: $black;
}

.jb-hover-light:hover {
  background: $gray-200;
  color: $black;
}

.jb-hover-green:hover {
  background: $green-600;
  color: $white;
}

.jb-hover-red:hover {
  background: $red-600;
  color: $white;
}

.jb-hover-yellow:hover {
  background: $yellow-600;
  color: $white;
}

.jb-hover-blue:hover {
  background: $blue-600;
  color: $white;
}

.jb-hover-outline-white:hover {
  background: $gray-100;
  color: $gray-900;
}

.jb-hover-outline-light:hover {
  background: $gray-100;
  color: $gray-900;
}

.jb-hover-outline-green:hover {
  background: $green-500;
  color: $white;
}

.jb-hover-outline-red:hover {
  background: $red-500;
  color: $white;
}

.jb-hover-outline-yellow:hover {
  background: $yellow-500;
  color: $white;
}

.jb-hover-outline-blue:hover {
  background: $blue-500;
  color: $white;
}
