.jb-field {
  margin-bottom: $size-base * 6;

  &:last-child {
    margin-bottom: 0;
  }
}

.jb-field-control-wrapper {
  &.has-one-slot-plus {
    display: grid;
    gap: $size-base * 3;
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
  &.has-two-slots {
    @include tablet {
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }
}

.jb-label {
  display: block;
  font-weight: bold;
  margin-bottom: $size-base * 2;
}

.jb-field-help {
  @include textXs;
  color: $gray-500;
  margin-top: $size-base;
}
