.jb-grid {
  display: grid;
  gap: $size-base * 6;
  grid-template-columns: repeat(1,minmax(0,1fr));

  &.has-mb {
    margin-bottom: $size-base * 6;
  }

  &.is-widgets-grid {
    @include desktop {
      grid-template-columns: repeat(3,minmax(0,1fr));
    }
  }

  &.is-cards-grid {
    @include desktop {
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }

  &.is-bars-grid {
    @include widescreen {
      grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .is-bars-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
