.jb-hero-bar {
  background: $white;
  border-top: 1px solid $gray-100;
  border-bottom: 1px solid $gray-100;
  padding: $size-base * 6;

  h1 {
    @include text3xl(1.25);
    font-weight: 600;
  }
}
