.jb-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $size-base * 6;
  height: $size-base * 6;

  &.is-button-small-icon {
    width: $size-base * 4;
    height: $size-base * 4;
  }

  &.is-pill-icon {
    width: $size-base * 4;
    height: $size-base * 4;
    margin-right: $size-base * 2;
  }

  &.is-card-widget-icon {
    width: auto;
    height: $size-base * 16;
  }

  &.is-rounded-icon {
    width: $size-base * 12;
    height: $size-base * 12;
    border-radius: $radius-rounded;

    &.has-bg-default {
      background: $gray-50;
    }
  }

  &.is-card-transaction-icon {
    @include tablet {
      margin-right: $size-base * 6;
    }
  }

  &.is-card-header-icon, &.is-title-sub-bar-icon {
    margin-right: $size-base * 3;
  }

  &.is-aside-icon {
    width: $size-base * 12;
    flex: none;
  }

  &.is-control-icon {
    width: $size-base * 10;

    &.is-height-default {
      height: $size-base * 12;
    }

    &.is-height-textarea {
      height: 100%;
    }
  }

  &.is-notification-icon {
    width: $size-base * 10;
    height: $size-base * 10;

    @include tablet {
      width: $size-base * 5;
      height: $size-base * 5;
      margin-right: $size-base * 2;
    }
  }

  svg {
    display: inline-block;

    path {
      fill: currentColor;
    }
  }
}
