.jb-level {
  align-items: center;

  &.is-default {
    display: block;

    @include tablet {
      display: flex;
    }
  }

  &.is-mobile {
    display: flex;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;

    @include desktop {
      justify-content: center;
    }
  }

  &.start {
    justify-content: flex-start;
  }

  &.has-space {
    margin-bottom: $size-base * 3;
  }

  .is-child {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    &.has-space {
      margin-bottom: $size-base * 6;

      @include tablet {
        margin-bottom: 0;
      }
    }
  }
}
