.is-user-avatar {
  img {
    max-width: $size-base * 7;
    margin: 0 auto;
  }
}

.icon.has-update-mark {
  position: relative;

  &:after {
    content: '';
    width: $icon-update-mark-size;
    height: $icon-update-mark-size;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: $icon-update-mark-color;
    border-radius: $radius-rounded;
  }
}
