@mixin navbarItemHover {
  color: $blue-600;
}

.jb-navbar {
  @include transitionPosition;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: $size-base * 14;
  min-height: $size-base * 14;
  border-bottom: 1px solid $gray-100;
  z-index: 30;
  width: 100vw;
  background: $white;

  &.aside-mobile-expanded {
    margin-left: $size-base * 60;

    @include desktop {
      margin-left: 0;
    }
  }

  @include desktop {
    width: auto;
    align-items: stretch;
  }

  @include widescreen {
    padding-left: $size-base * 60;
  }
}

.jb-navbar-controls {
  display: flex;
  align-items: stretch;
  height: $size-base * 14;

  &.primary {
    flex: 1 1 0;
  }

  &.secondary {
    flex: none;

    @include desktop {
      display: none;
    }
  }
}

.jb-navbar-menu {
  @include shadow;
  display: none;
  position: absolute;
  width: 100vw;
  top: $size-base * 14;
  left: 0;
  background: $white;
  padding: 0;

  @include mobile {
    &.active {
      display: block;
    }
  }

  @include desktop {
    display: flex;
    width: auto;
    align-items: stretch;
    flex-grow: 1;
    position: static;
    box-shadow: none;
  }
}

.jb-navbar-menu-container {
  max-width: 100vw;
  overflow-y: auto;

  @include desktop {
    overflow: visible;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.jb-navbar-item {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  color: $body-color;

  &.is-mobile-toggle-icon {
    @include desktop {
      display: none;
    }
  }

  &.is-desktop-toggle-icon {
    display: none;

    @include desktop-only {
      display: flex;
    }
  }

  &.is-active {
    color: $blue-500;

    .jb-navbar-dropdown-label, .jb-navbar-dropdown-icon {
      color: $blue-500;
    }
  }

  &.is-active-white {
    color: $white;
  }

  &.is-default {
    padding: $size-base * 2 $size-base * 3;
  }

  &.is-dropdown {
    padding: 0;
    display: block;

    @include desktop {
      display: flex;
      padding: $size-base * 2 $size-base * 3;
    }
  }

  &.has-divider {
    @include desktop {
      border-right: 1px solid $gray-100;
    }
  }

  &.has-desktop-icon-only {
    @include desktop {
      width: $size-base * 16;
      justify-content: center;
    }
  }

  &:hover {
    @include navbarItemHover;

    .jb-navbar-dropdown-label, .jb-navbar-dropdown-icon {
      @include navbarItemHover;
    }
  }
}

.jb-navbar-item-label-icon {
  @include transitionColors;
}

.jb-navbar-item-label {
  @include transitionColors;
  padding-left: $size-base * 2;
  padding-right: $size-base * 2;

  @include desktop {
    &.has-desktop-icon-only {
      display: none;
    }
  }
}

.jb-navbar-dropdown-label {
  display: flex;
  align-items: center;
  padding: $size-base * 2 $size-base * 3;
  background: $gray-100;
  color: inherit;

  @include desktop {
    background: transparent;
  }
}

.jb-navbar-dropdown-icon {
  display: none;

  @include desktop {
    display: inline-flex;
    color: inherit;
  }
}

.jb-navbar-dropdown-menu {
  @include textSm;
  border-bottom: 1px solid $gray-100;

  &.is-inactive {
    @include desktop {
      display: none;
    }
  }

  @include desktop {
    @include shadowMd;
    border-bottom: 0;
    border-top: solid 1px $gray-200;
    background: $white;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 20;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

.jb-navbar-menu-divider {
  display: none;

  @include desktop {
    display: block;
    margin-top: $size-base * 2;
    margin-bottom: $size-base * 2;
    border-top: 1px solid $gray-100;
  }
}
