.jb-section {
  &.is-default {
    padding-top: $size-base * 6;
    padding-bottom: $size-base * 6;
  }

  &.is-fullscreen {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  &.is-login-section {
    background-image: linear-gradient(to top right, $purple-400, $pink-500, $red-500);
  }

  &.is-login-dark-section {
    background-image: linear-gradient(to top right, $purple-900, $pink-900, $red-900);
  }

  &.is-error-section {
    background-image: linear-gradient(to top right, $pink-400, $red-500, $yellow-500);
  }

  &.is-error-dark-section {
    background-image: linear-gradient(to top right, $pink-900, $red-900, $yellow-900);
  }

  @include tablet {
    padding-left: $size-base * 6;
    padding-right: $size-base * 6;
  }

  .has-spaced-elements > * + * {
    margin-top: $size-base * 12;
    margin-bottom: 0;
  }
}
