@include dark {
  table.jb-table {
    tr {
      border-color: $gray-700;

      &:nth-child(odd) td {
        @include desktop {
          background: $gray-800;
        }
      }
    }

    th {
      color: $gray-100;
    }

    td {
      border-color: $gray-700;

      small {
        color: $gray-400;
      }
    }

    tbody tr:hover td {
      @include desktop {
        background: $gray-800;
      }
    }
  }

  .jb-table-pagination {
    border-color: $gray-700;
  }

  .jb-table-checked-items {
    background: $gray-800;
  }

  .jb-table-checked-item {
    background: $gray-700;
  }
}
