table.jb-table {
  width: 100%;

  thead {
    display: none;

    @include desktop {
      display: table-header-group;
    }
  }

  tr {
    display: block;
    position: relative;
    max-width: 100%;
    border-bottom: 4px solid $gray-100;

    @include desktop {
      display: table-row;
      border-bottom: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:nth-child(odd) td {
      @include desktop {
        background: $gray-50;
      }
    }
  }

  th {
    @include desktop {
      text-align: left;
      padding: $size-base * 2 $size-base * 3;
    }
  }

  td {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: $size-base * 3 $size-base * 4;
    vertical-align: top;
    border-bottom: 1px sold $gray-100;

    @include desktop {
      display: table-cell;
      text-align: left;
      padding: $size-base * 2 $size-base * 3;
      vertical-align: middle;
      border-bottom: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:before {
      content: attr(data-label);
      font-weight: 600;
      padding-right: $size-base * 3;
      text-align: left;

      @include desktop {
        display: none;
      }
    }

    &.progress-cell progress {
      display: flex;
      width: 40%;
      align-self: center;

      @include desktop {
        width: 100%;
      }
    }

    &.image-cell {
      border-bottom: 0;

      @include desktop {
        width: $size-base * 6;
      }

      .image {
        width: $size-base * 24;
        height: $size-base * 24;
        margin: 0 auto;

        @include desktop {
          width: $size-base * 6;
          height: $size-base * 6;
        }
      }
    }

    &.image-cell, &.actions-cell {
      &:before {
        display: none;
      }
    }

    small {
      color: $gray-500;
    }
  }

  tbody tr:hover td {
    @include desktop {
      background: $gray-100;
    }
  }

  td.checkbox-cell, th.checkbox-cell {
    @include desktop {
      width: $size-base * 5;
    }
  }

}

.jb-table-pagination {
  padding: $size-base * 3 $size-base * 6;
  border-top: 1px solid $gray-100;
}

.jb-table-checked-items {
  background: $gray-50;
  padding: $size-base * 3;
}

.jb-table-checked-item {
  @include textSm;
  display: inline-block;
  background: $gray-100;
  padding: $size-base $size-base * 2;
  border-radius: $radius-small;
  margin-right: $size-base * 2;
}
