.jb-title-bar {
  padding: $size-base * 6;

  li {
    @include text2xl;
    display: inline-block;
    padding-right: $size-base * 3;
    color: $gray-500;

    &:last-child {
      padding-right: 0;
      color: $black;
      font-weight: 900;
    }

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      padding-left: $size-base * 3;
    }
  }
}
