.jb-titled-section {
  padding: $size-base * 24 $size-base * 6;
  text-align: center;

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
  }

  &.is-first {
    margin-bottom: $size-base * -6;
  }

  &.is-last {
    margin-top: $size-base * -6;
  }

  &.is-default {
    margin-top: $size-base * -6;
    margin-bottom: $size-base * -6;
  }
}

.jb-titled-section-title {
  @include text2xl;
  color: $gray-500;
}

.jb-titled-section-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $size-base * 6;
}
