.jb-title-sub-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $size-base * 6;
  padding-left: $size-base * 6;
  padding-right: $size-base * 6;

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}

.jb-title-sub-bar-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    @include text2xl;
  }
}
