$white: #ffffff;
$black: #000000;

$gray-50: #F9FAFB;
$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;

$red-500: #EF4444;
$red-600: #DC2626;
$red-900: #7F1D1D;

$yellow-500: #F59E0B;
$yellow-600: #D97706;
$yellow-900: #78350F;

$green-500: #10B981;
$green-600: #059669;

$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;

$pink-400: #F472B6;
$pink-500: #EC4899;
$pink-900: #831843;

$purple-400: #A78BFA;
$purple-900: #4C1D95;

$link: $blue-500;
$primary: $blue-600;
$info: $blue-500;
$success: $green-600;
$danger: $red-600;
$warning: $yellow-600;

$radius-small: .125rem;
$radius: .25rem;
$radius-md: .375rem;
$radius-large: .5rem;
$radius-2xl: 1rem;
$radius-rounded: 9999px;

$size-base: .25rem;

$body-background-color: $gray-50;

$body-font-size: 1rem;
$body-line-height: 1.5rem;
$body-color: $black;

$tablet: 768px;
$desktop: 1024px;
$widescreen: 1280px;
